{% extends "layout.html" %}
{% block content %}
    <!-- <h1 class="text-center">COSAS QUE PUEDES HACER EN NUTRIDELI</h1> -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='useful_images/carrusel1.jpg') }}" class="d-block w-100" alt="Imagen 1">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
                    <h5 style="color: rgb(145, 251, 59);">CREA TUS PROPIAS DIETAS</h5>
                    <p>Puedes crear tus propias dietas personalizadas para cumplir tus objetivos.</p>
                    <a href="{{ url_for('main.crear_dieta') }}" class="btn btn-primary">¡Crea tu dieta ya!</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='useful_images/carrusel2.jpg') }}" class="d-block w-100" alt="Imagen 2">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
                    <h5 style="color: rgb(145, 251, 59);">COMPARTE TU EXPERIENCIA</h5>
                    <p>Realiza una publicación sobre cómo va tu progreso, comparte algún dato interesante u observa qué es lo que los otros usuarios están comentando.</p>
                    <a href="{{ url_for('posts.nueva_publicacion') }}"class="btn btn-primary">¡Publica algo ya!</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='useful_images/carrusel3.jpg') }}" class="d-block w-100" alt="Imagen 3">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
                    <h5 style="color: rgb(145, 251, 59);">APRENDE DELICIOSAMENTE</h5>
                    <p>Consulta y aprende sobre la diferente información nutrimental que contienen diversos alimentos en la Nutripedia.</p>
                    <a href="{{ url_for('main.nutripedia') }}" class="btn btn-primary">¡Aprende ya!</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
    <article class="media container_inicio col-md-32">
        <div class="media-body">
            <h1 class="about-title text-center">¡TE DAMOS LA BIENVENIDA A NUTRIDELI!</h1>
            <p class="about-content text-justify">NutriDeli es una plataforma web en la que varios usuarios pueden acceder a diversas funciones para aprender sobre la importancia de llevar una dieta balanceada en su vida cotidiana, además de poder consultar sobre una gran variedad de alimentos y sus propiedades alimenticias. Todo esto se lleva a cabo mediante:
            </p>
            <h2 class="about-subtitle">Creación de dietas personalizadas.</h2>
            <p class="about-content text-justify">Si dispones de una cuenta registrada de NutriDeli tendrás la oportunidad de crear tu propia dieta de una semana (lunes-domingo). Cada día incluirá las tres comidas más importantes: Desayuno, Comida y Cena. Por cada comida se recomendarán ciertos alimentos que se puedan ingerir según las necesidades del usuario, además vendrá la porción en gramos recomendada para ingerir dicho alimento.
            </p>
            <p class="about-content text-justify">Todo esto es posible gracias al uso de la tecnología de la Inteligencia Artificial, lo único que debes hacer como usuario es ingresar unos cuántos datos sobre tu altura, tu peso, tu sexo y qué objetivo tienes con la dieta.
            <h2 class="about-subtitle">Publicaciones de la comunidad de NutriDeli.</h2>
            <p class="about-content text-justify">Existe un apartado en NutriDeli enfocado a que la gente de la comunidad publique consejos, tips y experiencias de una vida saludable, de esta forma los usuarios pueden aprender mucho más leyendo las publicaciones que ya tengan conocimiento en determinados temas.
            </p>
            <p class="about-content text-justify">En caso de que hayas iniciado sesión en NutriDeli, serás capaz de tú realizar publicaciones y que otros usuarios las vean, simplemente pon un título llamativo para atraer la atención de los usuarios para que puedan recibir tus palabras. En caso de no contar con una cuents, no podrás realizar publicaciones; sin embargo, podrás leer las publicaciones de los demás usuarios.
            </p>
            <h2 class="about-subtitle">Consulta la Nutripedia.</h2>
            <p class="about-content text-justify">¿Quieres aprender más sobre los alimentos y los nutrimentos que estos tienen? Entonces te recomendamos que le eches un ojo a la "Nutripedia". Esta es una Enciclopedia Nutritiva en donde puedes aprender sobre los nutrimentos que contienen determinados alimentos e incluso puedes aprender sobre nutrimentos que quizá no conocías de antes.
            </p>
            <p class="about-content text-justify">Como en una Enciclopedia todo lo que puedas encontrar dentro está ordenado alfabéticamente, por lo que puedes encontrar una lista de alimentos y nutrimentos dependiendo de la letra con la que comiencen, puedes realizar una búsqueda específica o puedes simplemente darle clic a un botón y te mostrará un alimento / nutrimento al azar. 
            </p>
        </div>
    </article>
{% endblock content %}




