{% extends "layout.html" %}
{% block content %}
    <div class="nutripedia-container">
        <!-- Barra de navegación -->
        <nav class="navbar bg-steel-nutri">
            <div class="container d-flex justify-content-between align-items-center">
                <span class="navbar-brand text-nutri">NUTRIPEDIA</span>
                <form class="form-inline" action="{{ url_for('main.buscar_alimento') }}" method="POST">
                    <input class="form-control mr-sm-2" type="search" name="alimento" placeholder="Buscar en la Nutripedia..." aria-label="Search" required>
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                
            </div>
        </nav>

        <!-- Barra de letras A-Z -->
        <!-- <div class="alphabet-bar">
            <ul class="alphabet-list">
                {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
                <li class="alphabet-item"><a href="#">{{ letter }}</a></li>
                {% endfor %}
            </ul>
        </div> -->

        <!-- Imagen e botón -->
        <!-- <div style="text-align: center;">
            <button class="btn btn-info mt-3">Elemento aleatorio de la enciclopedia</button>
        </div> -->


        <article class="media about-section col-md-32">
            <div class="media-body">
                <h1 class="about-title text-center">¿Qué información nutrimental tiene tu alimento de la mesa?</h1>
                <p class="about-content text-justify">Toma una foto de ese alimento, transfierela a tu computadora y súbela en este apartado para darte más información de ese alimento.
                </p>
            </div>
        </article>

        <div class="random-enciclopedia-section">
            <img src="{{ url_for('static', filename='useful_images/nutripedro.png') }}" alt="Imagen enciclopedia">
        </div>
    </div>
{% endblock content %}

