{% extends "layout.html" %}
{% block content %}
<div class="resultado-nutripedia">
    <h1 class="text-center" style="margin-top:20px; color: #327234; font-weight: bold; font-style: italic;">{{ alimento['nombre'] }}</h1>
    <div class="random-enciclopedia-section">
        <img src="{{ url_for('static', filename=alimento['imagen']) }}" alt="Imagen de {{ alimento['nombre'] }}" class="img-fluid" style="width: 50%; border: 2px solid #000000;">
    </div>
    <article class="media dato-interesante col-md-32" style="text-align: center;">
        <h5 style="text-align: center;" ><strong>Dato nutrimental:</strong> {{ alimento['descripcion'] }}</h5>
    </article>
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center;">Proteínas</th>
                <th style="text-align: center;">Carbohidratos</th>
                <th style="text-align: center;">Grasas totales</th>
                <th style="text-align: center;">Fibra</th>
                <th style="text-align: center;">Sodio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;">{{ alimento['proteinas'] }}</td>
                <td style="text-align: center;">{{ alimento['carbohidratos'] }}</td>
                <td style="text-align: center;">{{ alimento['grasas'] }}</td>
                <td style="text-align: center;">{{ alimento['fibra'] }}</td>
                <td style="text-align: center;">{{ alimento['sodio'] }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="random-enciclopedia-section">
    <a href="{{ url_for('main.nutripedia') }}" class="btn btn-primary mt-3" style="background-color: #4CAF50; border-color: #4CAF50;">Volver a Nutripedia</a>
</div>

{% endblock %}
