{% extends "layout.html" %}
{% block content %}
{% for publicacion in publicaciones %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + publicacion.author.image_file) }}">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ publicacion.author.username }}</a>
            <small class="text-muted">{{ publicacion.date_posted.strftime('%d-%m-%Y') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('post', post_id=publicacion.id)}}">{{ publicacion.title }}</a></h2>
        <p class="article-content">{{ publicacion.content }}</p>
        </div>
    </article>
{% endfor %}
{% endblock content %}
