body {
    background-image: url('useful_images/nutrideli_fondo2.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: #333333;
    margin-top: 4.7rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #4CAF50;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #2a5e2c;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    color: #2a5e2c;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
  }
  
  .content-section {
    background: #fcfcfc;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .btn-info {
    color: #ffffff; /* Color del texto */
    background-color: #4CAF50;
    border-color: #4CAF50; /* Color del borde */
  } 

  .btn-outline-info {
    color: #327234; /* Color del texto */
    background-color: #97ff9b;
    border-color: #4CAF50; /* Color del borde */
  } 

  .btn-outline-info:hover {
      background-color: #4CAF50; /* Color de fondo al pasar el ratón */
      color: #ffffff; /* Color del texto al pasar el ratón */
  }

  .about-section {
    background: #EEEEEE; 
    padding: 10px 20px;
    border: 2px solid #afafaf;
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .about-title {
    color: #008b17;
  }
  
  .about-content {
    white-space: pre-line;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-top: 40px;
  }

  .carousel-item {
    height: 80vh; /* Altura completa de la pantalla */
  }
  .carousel-item img {
      height: 100%; /* Asegura que la imagen ocupe toda la altura */
      width: 100%;
      object-fit: fill; /* Ajusta la imagen para cubrir el contenedor */
  }





/* Nuevas clases para Nutripedia */
.alphabet-bar {
  text-align: center;
  margin-top: 20px;
}

.alphabet-list {
  list-style-type: none;
  padding: 0;
}

.alphabet-item {
  display: inline;
  margin: 0 10px;
}

.alphabet-item a {
  color: #4CAF50;
  font-size: 1.2rem;
  text-decoration: none;
}

.alphabet-item a:hover {
  color: #2a5e2c;
  text-decoration: underline;
}

.random-enciclopedia-section {
  text-align: center;
  margin-top: 30px;
}

.enciclopedia-img {
  width: 300px;
  height: auto;
  border: 2px solid #4CAF50;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #b9b9b9;
}

td {
  background-color: #f2f2f2;
}


